
# ===================================== #
#              SPACE RACER              #
# ===================================== #
# ===================================== #


# ===================================== #
#            Excluded Folders           #
# ===================================== #
/.vs/
/[Bb]in/
/[Dd]ebug*/
/ExportedObj/
/[Oo]bj/
/[Rr]elease*/
/_ReSharper*/
/[Tt]emp/

# ===================================== #
#             Visual Studio             #
# ===================================== #

*.VC.opendb
*.svd
*.csproj
*.pidb
*.suo
?*.sln
*.user
*.booproj
*.dropbox
*.ilk
*.log
*.bak
*.cache
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sbr

# ===================================== #
#        Operating System Files         #
# ===================================== #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*~
